*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(237,247,255);
}

section{
    margin-left: 50px;

}

div{
    display: flex;
    flex-direction: column;
    align-items: start;
    color: rgb(9,45,242);
    
}

h1{
    font-size: 88pt;
    font-family: 'MuseoModerno', cursive;
}

h2{
    font-size: 39pt;
    font-family:'Asap', sans-serif;
}

h3{
    font-size: 36pt;
    font-family: 'MuseoModerno', cursive;
}

.texto{
    font-size: 25pt;
    font-family:'Asap', sans-serif;
}

ul li{
    font-size: 25pt;
    font-family: 'Asap', sans-serif;
    font-weight: 600;
}

footer p{
    font-size: 149pt;
    font-family: 'MuseoModerno', cursive;
    color: rgb(9,45,242);
}


